$blue: #4DC1DF;
$orange: #FF7231;
$grey: #999899;
$yellow: #FFD03E;
$purple: #7573C0;
$green: #00C4B3;
$red: #F54B7F;
$lightGrey: #E8e8e8;

@import "normalize.css";
@import "skeleton.css";

@font-face {
	font-family: 'avenir';
	src: url("../font/Avenir-Book.otf");
}

@font-face {
	font-family: 'vaground';
	src: url("../font/vaground.ttf");
}

body {
	font-family: 'avenir', 'avenir', cursive;
}

.title {
	font-family: 'vaground', 'avenir', cursive;
	font-size: 2em;
	color: $orange;
	text-align: center;
}

.sub-title {
	font-family: 'avenir', 'avenir', cursive;
	color: $grey;
	text-align: center;
}

.separateLine {
	margin-top: 15px;
	padding-top: 15px;
	text-align: center;
	background-color: $orange;

	p {
		display: inline-block;
		float: none;
		font-size: 1.3em;
		color: white;
	}
}

.greyLine {
	background-color: $lightGrey;
	height: 2px;
	width: 80%;
	display: inline-block;
	min-width: 300px;
	max-width: 800px;
	margin: 6em 0;
}

a {
	&:link {
		color: white;
	}
	&:visited {
		color: white;
	}
	&:hover {
		color: white;
	}
	&:active {
		color: white;
	}
}

.home {
	.header {
		position: absolute;
		top: 10px;
		z-index: 10000;
		color: white;
		min-width: 800px;
		text-align: center;
		width: 100%;

		> div {
			top: 5px;
			position: relative;
			display: inline-block;
		}
		img {
			width: 100px;
		}
		span {
			cursor: pointer;
			margin: 0 1.1em;
			font-size: 1.3em;
		}
	}

	.top_section {
		background: url('../image/kid_fly_bg_new.jpg') no-repeat;
		background-size: cover;
		height: 100%;
		position: relative;
		color: white;
		text-align: center;

		.title {
			font-size: 2.6em;
			color: white;
		}

		.sub-title {
			font-size: 1.2em;
			color: white;
		}

	}

	.swingWatchSection {
		.container {
			text-align: center;
		}
		div.row {
			display: inline-block;
			> div {
				&.icon {
					margin: 15px;
					width: 95px;
					height: 95px;
					cursor: pointer;
					border-radius: 50px;
					transition: background-color 0.5s;
				}
			}
			&.options {
				div.analysis {
					background: url('../image/features/icons_data.png') no-repeat;
					&.active, &:hover {
						background: $orange url('../image/features/icons_data_active.png') no-repeat;
					}
				}

				div.activity {
					background: url('../image/features/icons_activity.png') no-repeat;
					&.active, &:hover {
						background: $orange url('../image/features/icons_activity_active.png') no-repeat;
					}
				}

				div.uv {
					background: url('../image/features/icons_uv.png') no-repeat;
					&.active, &:hover {
						background: $orange url('../image/features/icons_uv_active.png') no-repeat;
					}
				}
				div.time {
					background: url('../image/features/icons_time.png') no-repeat;
					&.active, &:hover {
						background: $orange url('../image/features/icons_time_active.png') no-repeat;
					}
				}

				div.reminder {
					background: url('../image/features/icons_reminder.png') no-repeat;
					&.active, &:hover {
						background: $orange url('../image/features/icons_reminder_active.png') no-repeat;
					}
				}
			}

		}
	}

	div.slideShow {
		margin-top: 3em;

		> div.row {
			position: relative;
			left: 120px;
		}

		@media (min-width: 550px) {
			> div.row {
				left: 50px;
			}

		}

		div.description {
			margin-top: 7vw;
		}

		.title {
			text-align: left;
			color: $orange;
		}
		.sub-title {
			text-align: left;
			color: $grey;
			font-size: 1.5em;
		}

		div.image {
			height: 440px;

			&.analysis {
				background: url('../image/features/data.png') 25px 0 no-repeat;
				background-size: 90%;
			}

			&.activity {
				background: url('../image/features/activity.png') 30px 0 no-repeat;
				background-size: 96%;
			}

			&.uv {
				background: url('../image/features/uv.png') no-repeat;
				background-size: 100%;
			}

			&.time {
				background: url('../image/features/time.png') 100px 0 no-repeat;
				background-size: 70%;
			}

			&.reminder {
				background: url('../image/features/reminder.png') no-repeat;
				background-size: 100%;
			}
		}

	}

	#howItWork {
		margin-top: 1.5em;
		text-align: center;

		.secondFlow {
			display: inline-block;
		}

		.row.description {
			margin-top: 2em;
			padding: 0 10px;

			.title {
				font-size: 1.7em;
				color: $grey;
			}

			.sub-title {
				font-size: 1.2em;
				color: $grey;
			}
		}
	}

	.separateLine.preOrder {
		background: url('../image/preOrderBackground.png') no-repeat;
		background-size: 100%;
		margin-top: 80px;
		height: 250px;

	}

	.team {
		text-align: center;
		margin-top: 5em;

		.profiles {
			width: 70%;
			display: inline-block;

			> div {
				float: left;
				width: 155px;
				padding: 1em 2em;
			}

		}

		div.name {
			font-size: 13px;
			position: relative;
			text-transform: uppercase;
			text-align: center;
			color: $grey;
		}

		p {
			display: inline-block;
			float: none;
		}
	}

	.footer {
		color: white;

		position: relative;
		top: 5px;
		img {
			width: 25px;
			margin: 0 5px;
		}
	}
}

@media only screen and (max-device-width: 600px) {
	.home {
		.header {
			span {
				font-size: 2em;
			}
		}

		.title {
			font-size: 2.3em;
		}

		div.slideShow {
			.sub-title {
				font-size: 2em;
			}

			div.description {
				margin-top: 0;
			}
		}

		.top_section .sub-title {
			font-size: 1.8em;
		}

		.separateLine {
			P {
				font-size: 2em;
			}
		}

		#howItWork {
			.row.description {
				.title {
					font-size: 2.5em;
				}
				.sub-title {
					font-size: 2em;
				}
			}
		}

		.team p {
			font-size: 2em;
		}

		.team div.name {
			font-size: 1.5em;
		}
	}

}